<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .content {
            margin-left: 250px;
            padding: 20px;
        }

        .welcome {
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .ticket-container {
            border: 1px solid #ccc;
            padding: 15px;
            margin: 10px;
            background-color: #f5f5f5;
            flex-basis: calc(33.33% - 20px);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }

        .ticket-row {
            display: flex;
            flex-wrap: wrap;
            margin: -10px;
        }

        .ticket-id {
            font-weight: bold;
            /* text-align: center; */
            margin-bottom: 10px;
        }

        .ticket-title {
            font-size: 20px;
            margin-bottom: 5px;
        }

        .ticket-description {
            color: #555;
            margin-bottom: 10px;
        }

        .ticket-badge {
            font-weight: bold;
            background-color: #f39c12;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            text-align: center;
        }

        .ticket-status span,
        .ticket-assigned span {
            font-weight: bold;
        }


        .ticket-button {
            background-color: #6634db;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            cursor: pointer;
        }

        #ResolvedBtn {
            background-color: #c53535;
            margin-bottom: 10px;
        }

        .ticket-header,
        .ticket-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <%- include('./partials/employeeSidebar')%>
        <%- include('./partials/confirmation.ejs') %>
            <div class="content">
                <div class="welcome">Your Tickets</div>
                <div class="ticket-row">
                    <% if (tickets && tickets.length> 0) { %>
                        <% tickets.forEach(ticket=> { %>
                            <div class="ticket-container">
                                <div class="ticket-header">
                                    <div class="ticket-id">
                                        <%= ticket._id %>
                                    </div>
                                    <% if(ticket.status==="open" ) { %>
                                        <button id="ResolvedBtn" class="resolved-ticket-button"
                                            resolve-id="<%= ticket._id %>">Close</button>
                                        <% } %>
                                </div>
                                <div class="ticket-details">
                                    <div class="ticket-title">
                                        <%= ticket.title %>
                                    </div>
                                    <div class="ticket-description">
                                        <%= ticket.description %>
                                    </div>
                                    <div class="ticket-status">
                                        <span> Status:</span>
                                        <%= ticket.status %>
                                    </div>
                                    <div class="ticket-footer">
                                        <div class="ticket-assigned">
                                            <span> Assigned To:</span>
                                            <%= ticket.assignedTo %>
                                        </div>
                                        <div class="ticket-badge">
                                            <%= ticket.priority %>
                                        </div>
                                        <button class="chat-ticket-button" chat-id="<%= ticket._id %>">Chat</button>
                                    </div>
                                </div>

                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>No tickets available.</p>
                                    <% } %>
                </div>
            </div>
            <script>
                const chatButtons = document.querySelectorAll(".chat-ticket-button");
                chatButtons.forEach(chatButton => {
                    chatButton.addEventListener('click', () => {
                        const Id = chatButton.getAttribute("chat-id");
                        console.log(Id);

                        window.location.href = `/Chat/Window?ticketId=${Id}`;

                    })
                });


                const resolvedNodes = document.querySelectorAll(".resolved-ticket-button");
                const confirmationPopup = document.getElementById("confirmationPopup");
                const confirmCloseBtn = document.getElementById("confirmCloseBtn");
                const cancelCloseBtn = document.getElementById("cancelCloseBtn");
                const headingNode = document.getElementById("headmsg");
                headingNode.innerText = "Confirm Mark As Resolved";
                const msgNode = document.getElementById("msg");
                msgNode.innerText = "Are you sure you want to mark this ticket as Resolved";

                resolvedNodes.forEach(resolvedNode => {
                    resolvedNode.addEventListener("click", () => {
                        confirmationPopup.style.display = "block";
                        const ticketId = resolvedNode.getAttribute("resolve-id");
                        confirmCloseBtn.setAttribute("resolve-id", ticketId);
                    });
                });
                cancelCloseBtn.addEventListener("click", () => {
                    confirmationPopup.style.display = "none";
                });
                confirmCloseBtn.addEventListener("click", (e) => {
                    const ticketId = confirmCloseBtn.getAttribute("resolve-id");
                    confirmationPopup.style.display = "none";
                    fetch("/ticket/Resolved", {
                        method: "PUT",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ ticketId })
                    })
                        .then(function (response) {
                            if (response.status !== 200) {
                                throw new Error("failed to modify status");
                            }
                            console.log("DOne")
                        })
                        .then(function () {
                            window.location.href = "/ticket/DepartmentView";
                        })
                        .catch(function (err) {
                            alert(err);
                        });
                })
            </script>
</body>

</html>